{% extends "website/index.html" %}
{% load i18n %}
{% block content %}


<body class="bg-light">
<div class="container-lg pt-4 mt-1 ">
    <h1 class="display-3">Internships </h1>

    <form   enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}

        <div class="form-group pt-4">
          
            <label for="name">Name: </label>
            <input id="name" placeholder="summer internship.." class="form-control" type="text" name="name" value="{{ current_name }}" required>
         
        </div>
        <div class="form-group pt-2">
            <label for="company">Company: </label>
            <input id="company" class="form-control" type="text" name="company" value="{{ current_company }}" required>
        </div>
        <div class="form-group pt-2">
            <label for="days">No of days: </label>
            <input id="days" class="form-control" type="number" name="days" value="{{ current_days }}" required>
        </div>

        <div class="row pt-3">
        <div class="form-group  col-sm"">
            <label  for="start_date"> Start date: </label>
            <input id="start_date" class="form-control" type="date" name="start_date" value="{{ current_start_date }}" required>
        </div>

        <div class="form-group col-sm" ">
            <label for="end_date">End date: </label>
            <input id="end_date"  class="form-control" type="date" name="end_date" value="{{ current_end_date }}" required>
        </div>
        </div>
        
        <div class="form-group pt-4">
            <label for="files">File: </label>
            <input id="file" accept=".pdf"  type="file" name="files" value="{{ current_files }}" required>
        </div>

        <div class="pt-4">
            <button   class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>

</div>
</body>
{% endblock %}