


<!--
  Heads up! 👋

  Custom CSS:
    - animate-background https://github.com/markmead/hyperui/blob/main/tailwind.preset.js
-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ec website</title>
  <link href="./output.css" rel="stylesheet">
</head>
<body class="bg-slate-50">
  <div class="container min-h-screen ">
      <nav class="grid grid-cols-2 h-16 bg-slate-300 items-center p-2">
        <a href="#"><img src="./assets/tkm-logo.webp" alt="" class="w-12 h-full"></a>
        <ul class="flex justify-end gap-3 px-5">
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
      <h1 class="text-3xl font-bold text-center font-serif ">Electronics And Communcation<br/> Department</h1>
  </div>
</body>
</html>