{% extends "website/index.html" %}
{% load i18n %}
{% block content %}


<body>
    <div class="container-lg pt-4 mt-1 ">


        
        <form class="form-inline my-2 my-lg-0 pb-3 ">
           
            <input class=" input  mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          
            <button class="  btn btn-outline-success " type="submit">Search</button>
          </form>
     
          
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Admission no</th>
            <th scope="col">Roll no</th>
          </tr>
        </thead>
        <tbody>
            {% for s in students %}


          <tr>
            <th scope="row">1</th>
            <td>{{ s.student_name}}</td>
            <td>{{s.admission_number}}</td>
            <td>{{s.registration_number}}</td>
          </tr>
         
        {% endfor %}
        </tbody>
      </table>
    
</div>
</body>


{% endblock %}