{% extends "website/index.html" %}
{% load i18n %}
{% block content %}
<body class="bg-light">
  <div class="container-lg py-5">
    <h1 class="display-4 mb-4">Workshops</h1>

    <form enctype="multipart/form-data" action="" method="post">
      {% csrf_token %}

      <div class="mb-4">
        <label for="name" class="form-label fw-bold">Event Name</label>
        <input id="name" class="form-control" type="text" name="name" value="{{ current_name }}" required>
      </div>

      <div class="mb-4">
        <label for="organiser" class="form-label fw-bold">Event Organiser</label>
        <input id="organiser" class="form-control" type="text" name="organiser" value="{{ current_organiser }}" required>
      </div>

      <div class="mb-4">
        <label for="date" class="form-label fw-bold">Event Date</label>
        <input id="date" class="form-control" type="date" name="date" value="{{ current_date }}" required>
      </div>

      <div class="mb-4">
        <label for="days" class="form-label fw-bold">Number of Days</label>
        <input id="days" class="form-control" type="number" name="days" value="{{ current_days }}" required>
      </div>

      <div class="mb-4">
        <label for="file" class="form-label fw-bold">Upload File (PDF Only)</label>
        <input id="file" class="form-control" accept=".pdf" type="file" name="files" value="{{ current_files }}" required>
      </div>

      <div class="d-grid">
        <button class="btn btn-primary py-2 px-4" type="submit">Submit</button>
      </div>
    </form>
  </div>
</body>
{% endblock %}
