<html>
    <head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="loginone.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class="body-1">
    <div class="head">
        <h3>SIGN IN</h3>
    </div><br>
    <div class="logo"><img src = "https://tkmce.ac.in/images/tkm-logo.png" width="100" height="100">
    <div class="user">
      <label for="user">USERNAME</label>
      <div class="sec-2">
        <input type="number" name="number" placeholder="123456"/>
      </div></div>
    <div class="password">
      <label for="password">PASSWORD</label>
      <div class="sec-2">
        <input class="pass" type="password" name="password" placeholder="············"/>
        <ion-icon class="show-hide" name="eye-outline"></ion-icon>
      </div>
    </div><br>
    <button class="login">LOGIN</button>
    <div class="footer"><span><br>Forgot Password?</span></div>
  </div>
</body>
  </html>